* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	background-color: #384351;
	font-size: calc(16px + 2.5vmax);
	color: #F0F8FF;
	font-family: sans-serif;
	height: 100%;
	overflow: hidden;
}

h1 {
	text-align: center;
	background-color: #232F3E;
	color: inherit;
	letter-spacing: 0.1rem;
}

ul {
	list-style: none;
	padding: 0;
	margin: 1em;
}

ul li {
	display: inline;
	word-spacing: 0.3rem;
}

ul li:not(:last-child)::after {
	content: " // ";
	color: inherit;
}

a {
	color: inherit;
}

footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	padding-bottom: 2rem;
	width: 100%;
	font-size: 2rem;
}

footer a {
	text-decoration: none;
	border-bottom: dotted;
}